.toko-searchbar {
    --background: transparent;
    --color: white;
    --placeholder-color: rgba(255, 255, 255, 0.4);
    --icon-color: white;
    --clear-button-color: white;
    --border-radius: 9999px;
    padding: 0;

    ::ng-deep .searchbar-search-icon {
        color: white !important;
    }

    ::ng-deep .searchbar-input-container {
        padding: 0 !important;
    }

    ::ng-deep .searchbar-input {
        box-shadow: none !important;
        font-weight: 700 !important;
        padding-left: 50px !important;
    }
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}